* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  padding: 40px;
  font-weight: 600;
  background: rgb(39, 8, 243);
  color: white;
  text-align: center;
}

label,
input {
  width: 80%;
  padding: 20px;
  display: block;
}

label {
  font-size: 25px;
  font-weight: 500;
}

input {
  margin: 0 20px;
  font-size: 15px;
}

.button {
  margin: 20px;
  display: flex;
  justify-content: left;
}

button {
  padding: 15px 25px;
  font-size: 15px;
}

.output {
  font-size: 20px;
  padding: 20px;
}

span {
  font-weight: 600;
}

@media only screen and (max-width: 500px) {
  header {
    font-size: 1.5rem;
  }
  p {
    padding: 20px;
    font-size: 20px;
  }
  .container {
    width: 90%;
    margin: 5px auto;
  }
}

@media only screen and (min-width: 500px) {
  header {
    font-size: 3rem;
  }
  p {
    padding: 20px;
    font-size: 30px;
  }
  .container {
    width: 90%;
    margin: 20px auto;
  }
}
